<p id="notice"><%= notice %></p>

<h2 class="baintodo_list_title"><%= @baintodo_list.title %></h2>
<p class="baintodo_list_sub_title"><%= @baintodo_list.descrption %></p>

<div id="baintodo_items_wrapper">
  <%= render @baintodo_list.baintodo_items %>
  <div id="form">
    <%= render "baintodo_items/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_baintodo_list_path(@baintodo_list) %> |
  <%= link_to 'Delete', baintodo_list_path(@baintodo_list), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back', baintodo_lists_path %>
</div>