<div class="row clearfix">
 <% if baintodo_item.completed? %>
  <div class="complete">
   <%= link_to complete_baintodo_list_baintodo_item_path(@baintodo_list, baintodo_item.id), method: :patch do %>
    <i style="opacity: 0.4;" class="fa fa-check"></i>
   <% end %>
  </div>
  <div class="baintodo_item">
   <p style="opacity: 0.4;"><strike><%= baintodo_item.content %></strike></p>
  </div>
  <div class="trash">
   <%= link_to baintodo_list_baintodo_item_path(@baintodo_list, baintodo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
   <% end %>
  </div>
 <% else %>
  <div class="complete">
   <%= link_to complete_baintodo_list_baintodo_item_path(@baintodo_list, baintodo_item.id), method: :patch do %>
    <i class="fa fa-circle-thin"></i>
  <% end %>  
  </div>
  <div class="baintodo_item">
   <p><%= baintodo_item.content %></p>
  </div>
  <div class="trash">
   <%= link_to baintodo_list_baintodo_item_path(@baintodo_list, baintodo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
   <% end %>
  </div>
 <% end %>
</div>